body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

header p {
    font-size: 20px;
}

.score {
    width: 250px;
    
}

.timer {
    width: 250px;
    
}

#main {    
    margin: 50px 150px;
    display: block;
    align-items: center;
    justify-content: center;
}

.question {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.instructions {
    text-align: center;
    font-size: 18px;
}

.button {
    margin: 5px auto;
    padding: 5px;
    background-color: crimson;
    color: white;
    border: 1.5px solid black;
    border-radius: 5px;
    display: block;
    
}

.submit-button {
    padding: 5px;
    background-color: crimson;
    color: white;
    border: 1.5px solid black;
    border-radius: 5px;
    display: block;
    margin: 5px; 
}

.highScoreList {
    background-color: rgba(220,20,60 , .5 );
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    padding-left: 5px;
    border-radius: 3px;
    width: 25%;
    height: 20px;
    margin-left: 8px;
}

.after-answer-display {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    border-top: 3px solid rgba(0, 0, 0, 0.5);
}

.answer {
    margin: 50px 25px 0px 25px;
}